<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker Application</title>
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/index.js" defer></script>
</head>
<body>
    <header>
        <h1>EXPENSE TRACKER</h1>
    </header>

    <main>
        <p id="greetings-text"><em>Keep track of your BUDGET and EXPENSES!</em></p>
        <p id="msg">Your financial well being matters to us</p>
        <div id="flex-div">
            <section id="image-section">
                <div id="image-div">
                    <img src="./images/landing-page-image.png" alt="Welcome Image" loading="lazy"/>
                </div>
            </section>
            <section id="login-signup-section">
                <nav id="nav-bar">
                    <ul>
                        <li>
                            <button id="register_button">Register</button>
                        </li>
                        <li>
                            <button id="logIn_button">Log In</button>
                        </li>
                    </ul>
                </nav>
            </section>
        </div>
    </main>
    
    <footer>&copy; 2024 Mickey-gk's Work</footer>
</body>
</html>
