<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
    <link rel="stylesheet" href="./css/main.css" />
    <script src="./js/register.js" defer></script>
</head>
<body>
    <header>
        <h4>EXPENSE TRACKER</h4>
    </header>
    <main>
        <div id="flex-div">
            <section id="text-section"></section>
            <section id="form-section">
                <h2 id="form-name">REGISTER</h2>
                <form id="registration-form">
                    <label for="email">EMAIL ADDRESS:</label>
                    <input
                        type="email"
                        id="email"
                        name="email"
                        placeholder="type your email e.g., someone@mail.com"
                        required
                    />
    
                    <label for="username">USERNAME:</label>
                    <input
                        type="text"
                        id="username"
                        name="username"
                        placeholder="type your username"
                        required
                    />
    
                    <label for="password">PASSWORD:</label>
                    <input
                        type="password"
                        id="password"
                        name="password"
                        placeholder="type your password"
                        required
                    />

                    <label for="confirm_password">CONFIRM PASSWORD:</label>
                    <input
                        type="password"
                        id="confirm_password"
                        name="confirm_password"
                        placeholder="type your password"
                        required
                    />

    
                    <input type="submit" value="SUBMIT" />
                </form>
                
                <p id="last-p">Already have an account? <a href="/login">Log in!</a></p>
                <p id="authMsg"></p>
            </section>
    
        </div>
    </main>
    
    <footer>&copy; 2024 Mickey-gk's Work</footer>
</body>
</html>
