<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPDATE EXPENSES</title>
    <link rel="stylesheet" href="/css/update_expenses.css">
    <script src="/js/update_expenses.js" defer></script>
</head>
<body>
    <nav id="navigation">
        <ul>
            <li><button id="to_dashboard">Dashboard</button></li>
            <li><button id="to_add">add Expenses</button></li>
            <li><button id="to_delete">Delete Expenses</button></li>
            <li><button id="to_view">View Expenses</button></li>
        </ul>
    </nav>  
</body>
</html>