:root {
    background-color: aliceblue;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 1.4rem;
}

a:hover {
    cursor: pointer;
}

#navigation {
    margin: auto;
    width:fit-content;
    background-color: aquamarine;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

#navigation > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#navigation > ul > li {
    margin: 0 1.5rem;
} 

/* delete_expenses.css */

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #e60000;
}
